.anime {
    display: inline-block;
    position: relative;
    box-sizing: border-box;
    overflow: hidden;
    width:calc(50% - 10px);
    padding: 0 0 10px 0;
    margin: 15px 5px;
    border-radius: 10px;
    border: solid 1px #e0e0e0;
    vertical-align: top;
}

.anime img {
    width:100%;
    vertical-align: middle;
    object-fit: cover;
    transition: all ease .3s;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
}

.site {
    position:absolute;
    top: 7px;
    left: 9px;
    padding: 0 5px;
    background-color: rgba(255,255,255,.8);
    border-radius: 6px;
    font-size:.8em;
    text-decoration: none;
    color: black;
    z-index: 99;
}

.site:hover {
    opacity: 0.6;
}

.siteicon {
    vertical-align: middle;
}

.sitename {
    margin-left: 5px;
    vertical-align: middle;
}

label {
    cursor: pointer;
}
.LikesIcon{
    position: absolute;
    left: -15px;
    bottom:-20px;
    background: url("../../public/web_heart_animation.png");
    background-position: left;
    background-size: 2900%;
    background-repeat: no-repeat;
    width: 80px;
    height: 80px;
  }

.media {
    margin-right: 5px;
    padding: 0px 5px;
    border-radius: 5px;
    background-color: #888;
    font-size: .85em;
    font-weight: normal;
    color: #fff;
}

.ogp {
    display: block;
    position: relative;
    max-height: 230px;
    margin: 0 0 8px;
    overflow: hidden;
}

.title {
    display: block;
    margin: 5px 50px 0;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left;
    white-space: nowrap;
    font-weight: bold;
}

.titleName {
    font-weight: 6;
}

.twitter {
    position:absolute;
    top:7px;
    right:9px;
    text-shadow: 0 0 3px rgba(0,0,0,0.3);
    transition: ease .3s;
    font-size: 1.2em;
    color: #55acee;
    z-index:100;
}

.twitter:hover {
    opacity: 0.6;
}

input[type="checkbox"]{
    display: none;
  }

@keyframes heartBlast {
    0% {
        background-position: left;
    }
    100% {
        background-position: right;
    }
}

input[type="checkbox"]:checked + label .HeartAnimation {
    display: inline-block;
    background-position: right;
    -webkit-animation-name: heartBlast;
    animation-name: heartBlast;
    -webkit-animation-duration: .8s;
    animation-duration: .8s;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
    -webkit-animation-timing-function: steps(28);
    animation-timing-function: steps(28);
}