.anime {
    display: inline-block;
    position: relative;
    box-sizing: border-box;
    overflow: hidden;
    width:calc(50% - 10px);
    padding: 0 0 10px 0;
    margin: 15px 5px;
    border-radius: 10px;
    border: solid 1px #e0e0e0;
    vertical-align: top;
}

.anime img {
    width:100%;
    vertical-align: middle;
    object-fit: cover;
    transition: all ease .3s;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
}

label::before {
    display: block;
    position: absolute;
    z-index: 10;
    top: 50%;
    left: 18px;
    width: 16px;
    height: 16px;
    margin-top: 105px;
    border: 1px solid #231815;
    background: #fff;
    content: '';
}

label::after {
    display: block;
    position: absolute;
    z-index: 11;
    opacity: 0;
    transform: rotate(45deg);
    top: 50%;
    left: 23px;
    width: 5px;
    height: 9px;
    margin-top: 106px;
    border-right: 3px solid #ed7a9c;
    border-bottom: 3px solid #ed7a9c;
    content: '';
}

.media {
    margin-right: 5px;
    padding: 0px 5px;
    border-radius: 5px;
    background-color: #888;
    font-size: .85em;
    font-weight: normal;
    color: #fff;
}

.ogp {
    display: block;
    position: relative;
    max-height: 230px;
    margin: 0 0 8px;
    overflow: hidden;
}

.title {
    display: block;
    margin: 5px 50px 0;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left;
    white-space: nowrap;
    font-weight: bold;
}

.titleName {
    font-weight: 6;
}

.colorfilter {
    background-color: blue;
}

input[type="checkbox"]{
    display: none;
  }
  
input[type="checkbox"]:checked + label::after{
    opacity: 1;
}

.anime:has(>input[type="checkbox"]:checked){
    border:1px solid pink;
    opacity: 0.2;
}