.btn{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 1em 2em;
    width: 300px;
    color: #2285b1;
    font-size: 18px;
    font-weight: 700;
    border: 3px solid #a0c4d3;
    border-radius: 10px;
  }
  
.btn::after {
    content: '';
    width: 5px;
    height: 5px;
    border-top: 3px solid #2285b1;
    border-right: 3px solid #2285b1;
    transform: rotate(45deg);
  }
  
.btn:hover {
    color: #333333;
    text-decoration: none;
    background-color: #a0c4d3;
  }
  
.btn:hover::after {
    border-top: 3px solid #333333;
    border-right: 3px solid #333333;
  }