.animebox {
  display: block;
  margin: 0 auto;
  min-height: 100px;
}

.caution {
  text-align: center;
}
/*  */
.caution p {
  font-size: medium;
}

.deleteBtn {
  display: inline-block;
  margin: 0 5px 0px 10px;
  padding: 0;
  color: #fff;
  border: none;
  background: transparent;
  vertical-align: middle;
  cursor: pointer;
}

.deleteBtn:hover {
  opacity: 0.6;
}
.deleteIcon {
  width: 20px;
  height: 20px;
  margin: 0;
  border-radius: 50%;
  background: #d74f3d;
  line-height: 50px;
  text-align: center;
}

.main {
  position: relative;
  z-index: 0;
  box-sizing: border-box;
  margin: 10px auto 20px auto;
  padding: 15px 30px;
  text-align: center;
}

.selectAnimeBox {
  margin: 20px 0;
}
.selectAnimeBox ul,
.selectAnimeBox ol {
  background: #fffcf4;
  border-radius: 8px;
  box-shadow: 0px 0px 5px silver;
  padding: 0.5em 0.5em 0.5em 2em;
}
.selectAnimeBox ul li,
.selectAnimeBox ol li {
  line-height: 1.5;
  padding: 0.5em 0;
  text-align: left;
}

.text {
  margin-top: 15px;
  font-size: large;
}

.headerContent {
  display: table-cell;
  vertical-align: middle;
  align-items: center;
  text-align: center;
  padding-left: 2rem /* 16px */;
  padding-right: 2rem /* 16px */;
}
