.animebox {
  display: block;
  margin: 0 auto;
  min-height: 100px;
}

.main {
  position: relative;
  z-index: 0;
  box-sizing: border-box;
  max-width: 960px;
  margin: 65px auto 20px auto;
  padding: 15px 30px;
}